/node_modules
/public/css/
/public/js/
/public/img/
/public/images/
/public/hot
/public/storage/
/public/Modules/
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/Modules/*/node_modules
htdocs
/Modules/*/vendor
/Modules/*/Resources/assets/js/components/layout
security-frutaria_sao_miguel-SSDLC.yaml